# This file is part of protk
# Created by Ira Cooke 14/12/2010
#
# This file contains global constants and settings. 
# You should edit these settings to reflect your system setup
#

# Set to one of the user-defined environment below
#
run_setting: galaxy
    
galaxy:
    message_level: info
    tpp_bin: /usr/local/tpp-4-4-0/bin
    general_bin: /usr/local/localapps/bin/
    tpp_protein_dbroot: /var/www/ISB/data/Databases/
    mascot_machine: www.matrixscience.com
    has_pbs: true
    omssa_executable: /usr/local/localapps/bin/omssa-2.1.9.linux/
    log_file: /var/www/galaxy/Logs/protk.log
    swissprot_dat: /var/www/ISB/data/Databases/uniprot_data/uniprot_sprot.db
    trembl_dat: /var/www/ISB/data/Databases/uniprot_data/uniprot_trembl.db
    plasmodb_dat: /var/www/ISB/data/Databases/plasmodb_data/PfalciparumGene_PlasmoDB-8.0.txt
    
    