# This file is part of protk
# Created by Ira Cooke 14/12/2010
#
# This file contains global constants and settings. 
# You should edit these settings to reflect your system setup
#

# Set to one of the user-defined environment below
#
run_setting: test

test:
    message_level: info
    tpp_bin: ./bin/tpp
    protein_database_root: ./Databases
    default_mascot_server: www.matrixscience.com
    has_pbs: false
    omssa_bin: ./bin/omssa
    ncbi_tools_bin: ./bin/ncbi
    log_file: ./Logs/protk.log